<table class="table table-hover table-bordered table-sm" data-bind="with: clientWatch">
    <thead>
        <tr data-bind="foreach: $root.clientColumns">
            <th><span data-bind="text: $root.clientColumnMap[$data]"></span></th>
            <!-- ko if: ($index() == $root.clientColumns().length - 1) -->
            <th style="width: 75px">
                <button type="button" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: { data: $root.clientData().clients, as: 'client'}">
        <tr data-bind="foreach: $root.clientColumns">
            <td data-bind="text: client[$data]"></td>
            <!-- ko if: ($index() == $root.clientColumns().length - 1) -->
            <td>
                <button type="button" class="btn btn-default:focus btn-sm">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm pull-right">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>