<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    <!--Thanks jumbotron example!-->
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="jumbotron">
                    <h1 class="display-3">Greetings!</h1>
                    <p class="lead">This is a feature request application created from the requirements posted <a href="https://github.com/IntuitiveWebSolutions/EngineeringMidLevel">here</a>. The application does require you to be logged in - but you have two ways to do so. The first is to login using OAuth authentication via Github - you'll automatically be made an adminitrator if you do this. The second is to bypass OAuth and simply login as an administrator without entering any credentials at all. Your choice!</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ url_for("github.login") }}" role="button"><i class="fa fa-github-alt"></i> Github</a> <a class="btn btn-lg btn-success" href="skipgithub" role="button">Bypass OAuth</a></p>
                </div>
            </div>
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
        </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>