<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feature Request App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" integrity="sha256-O1jJhOIWWDc3wq75g7aXDl7aEQT2XPkieX/Mz/u4hQ0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker3.min.css" integrity="sha256-x2QakhDNywgLRp4bMOcFtWJDh5aME39fbNVJTWBVbss=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" integrity="sha256-O1jJhOIWWDc3wq75g7aXDl7aEQT2XPkieX/Mz/u4hQ0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" integrity="sha256-SimsGsu3ragCO+uhwd4Um5PUzUuc3Eg+pxshtVHXYpM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link href="static/css/featurerequest.css" rel="stylesheet">
    <link href="static/css/jquery-ui.min.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js" integrity="sha256-UOSXsAgYN43P/oVrmU+JlHtiDGYWN2iHnJuKY9WD+Jg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js" integrity="sha256-ixVUAy0s+/DoWFGN9kYLK0M2viz7HxiN/REIo65Qsug=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" integrity="sha256-owX7sroiO/O1a7h3a4X29A1g3QgqdNvijRQ7V5TH45M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js" integrity="sha256-gaGobNk1cPaj0abcVmyZxUYgCPsueCJwN5i4DjC4BS0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js" integrity="sha256-1fK87Pt9T7XXn/Vj3CWSfJlZkL5f73092A8YL7p7avc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/js/bootstrap-datepicker.min.js" integrity="sha256-cxy6ZG28yUYUJuVa4jSB0REugsTXuiaAVAVamfh5wmk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-dragdrop/2.5.1/knockout.dragdrop.js" integrity="sha256-60Pvf3zzTuqHNeXnGKPShKA/G69znTA++FneUvxZQVc=" crossorigin="anonymous"></script>
    <script src="static/js/knockout.bindings.orderable.js"></script>
    
    <script async src="static/js/thenBy.min.js"></script>
    <script async src="static/js/jquery.serialize-object.js"></script>
</head>
<body>
    <div class="alert-overlay">
        <div id="successAlert" class="alert alert-success" role="alert" style="display: none;">Success!</div>
        <div id="failAlert" class="alert alert-danger" role="alert" style="display: none;">Danger!</div>
    </div>
    <div class="container-responsive">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div role="tabpanel" class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-expanded="true">Features</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" id="clients-tab" href="#clients" role="tab" data-toggle="tab" aria-controls="clients" aria-expanded="true">Clients</a>
                                    <a class="dropdown-item" id="productareas-tab" href="#productareas" role="tab" data-toggle="tab" aria-controls="productareas" aria-expanded="true">Product Areas</a>
                                    <a class="dropdown-item" id="users-tab" href="#users" role="tab" data-toggle="tab" aria-controls="users" aria-expanded="true">Users</a>
                                </div>
                            </li>
                        </ul>
                        <a href="logout" style="position: absolute;top: 12px;right: 0%;transform: translateX(-30%);z-index: 1;">Logout</a>
                    </div>
                    <div class="tab-content card-block">
                        <div role="tabpanel" class="tab-pane active fade show" id="features" aria-labelledby="features-tab" aria-expanded="true"><div class="container-fluid">{% include "data_views/features.html" %}</div></div>
                        <div role="tabpanel" class="tab-pane" id="clients" aria-labelledby="clients-tab" aria-expanded="false"><div class="row">{% include "data_views/clients.html" %}</div></div>
                        <div role="tabpanel" class="tab-pane" id="productareas" aria-labelledby="productareas-tab" aria-expanded="false"><div class="row">{% include "data_views/products.html" %}</div></div>
                        <div role="tabpanel" class="tab-pane" id="users" aria-labelledby="users-tab" aria-expanded="false"><div class="row">{% include "data_views/users.html" %}</div></div>

                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    {% include "modals/feature.html" %}
    {% include "modals/client.html" %}
    {% include "modals/product.html" %}
    {% include "modals/user.html" %}
    <script defer src="static/js/featurerequest.js?v=1"></script>
    <script defer src="static/js/defaults.js?v=1"></script>
    <script defer src="static/js/mvvm.js?v=1"></script>
    <script defer src="static/js/modals.js?v=1"></script>
</body>
</html>