<div class="col-12">
    <div class="card card-block bg-faded">
        <table class="table table-sm table-hover table-bordered table-responsive" style="width: auto !important;" data-bind="with: clientWatch">
            <thead>
                <tr data-bind="foreach: $root.clientColumns">
                    <th class="text-nowrap"><p class="m-0" data-bind="text: $root.clientColumnMap[$data]"></p></th>
                    <!-- ko if: ($index() == $root.clientColumns().length - 1) -->
                    <th style="width:50px">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addClientModal">
                                <i class="fa fa-plus" aria-hidden="true"></i>Add
                            </button>
                        </div>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: $root.clientData, as: 'client'}">
                <tr data-bind="foreach: $root.clientColumns">
                    <td data-bind="text: client[$data]"></td>
                    <!-- ko if: ($index() == $root.clientColumns().length - 1) -->
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editClientModal" data-bind="attr: {'data-id': client['id']}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteClientModal" data-bind="attr: {'data-id': client['id']}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
