<table class="table table-hover table-bordered table-sm" data-bind="with: featureWatch">
    <thead>
        <tr data-bind="foreach: $root.featureColumns">
            <th><span data-bind="text: $root.featureColumnMap[$data]"></span></th>
            <!-- ko if: ($index() == $root.featureColumns().length - 1) -->
            <th style="width:50px">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addFeatureModal">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: { data: $root.featureData().features, as: 'feature'}">
        <tr data-bind="foreach: $root.featureColumns">
            <td data-bind="text: feature[$data]"></td>
            <!-- ko if: ($index() == $root.featureColumns().length - 1) -->
            <td>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editFeatureModal">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteFeatureModal">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>