<div class="col-12">
    <div class="card card-block bg-faded">
        <table class="table table-sm table-hover table-bordered table-responsive" style="width: auto !important;" data-bind="with: productWatch">
            <thead>
                <tr data-bind="foreach: $root.productColumns">
                    <th class="text-nowrap"><p class="m-0" data-bind="text: $root.productColumnMap[$data]"></p></th>
                    <!-- ko if: ($index() == $root.productColumns().length - 1) -->
                    <th style="width:50px">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addProductModal">
                                <i class="fa fa-plus" aria-hidden="true"></i>Add
                            </button>
                        </div>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: $root.productData, as: 'product'}">
                <tr data-bind="foreach: $root.productColumns">
                    <td data-bind="text: product[$data]"></td>
                    <!-- ko if: ($index() == $root.productColumns().length - 1) -->
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editProductModal" data-bind="attr: {'data-id': product['id']}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteProductModal" data-bind="attr: {'data-id': product['id']}">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
