<table class="table table-hover table-bordered table-responsive" style="width: auto !important;" data-bind="with: userWatch">
    <thead>
        <tr data-bind="foreach: $root.userColumns">
            <th class="text-nowrap"><a href="#" data-bind="text: $root.userColumnMap[$data], orderable: {collection: 'userData', field: $data}"></a><i aria-hidden="true"></i></th>
            <!-- ko if: ($index() == $root.userColumns().length - 1) -->
            <th style="width:50px">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addUserModal">
                        <i class="fa fa-plus" aria-hidden="true"></i>Add
                    </button>
                </div>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: { data: $root.userData, as: 'user'}">
        <tr data-bind="foreach: $root.userColumns">
            <td data-bind="text: user[$data]"></td>
            <!-- ko if: ($index() == $root.userColumns().length - 1) -->
            <td>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editUserModal" data-bind="attr: {'data-id': user['id']}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteUserModal" data-bind="attr: {'data-id': user['id']}">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>